@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background_color {
  background-color: aqua;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
.nav {
  background-color: #DB404B;
}
.nav-list__item {
  display: inline-block;
  padding: 25px;
}
.nav-list__item:first-child {
  padding-left: 0;
}
.nav-list__item--active {
  position: relative;
}
.nav-list__item--active::after {
  position: absolute;
  content: "";
  width: 67px;
  height: 2px;
  background-color: #fff;
  bottom: 10px;
  left: 0;
}
.nav-list__link {
  color: aliceblue;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
.nav-korzina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
  padding-bottom: 16px;
}
.nav-korzina__logo {
  position: relative;
  margin-right: 20px;
}
.nav-korzina__logo:hover::after {
  position: absolute;
  content: "Корзина";
  background-color: #FFFFFF;
  color: #12212D;
  display: block;
  padding: 3px 10px;
}
.nav-korzina__name {
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  font-weight: 400;
}
.nav-korzina__price {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}

.header {
  padding-top: 10px;
  padding-bottom: 11px;
}
.header-logo__text {
  font-size: 14px;
  font-family: "Avenir";
  font-weight: 400;
  line-height: 19px;
  color: #705658;
  text-align: center;
}
.header-form {
  position: relative;
}
.header__input {
  width: 555px;
  padding: 16px 20px;
  border: 1px solid #B7BCC0;
  border-radius: 3px;
  outline: none;
}
.header__input[type=search]::-webkit-search-results-decoration, .header__input[type=search]::-webkit-search-results-button, .header__input[type=search]::-webkit-search-cancel-button, .header__input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.header__btn {
  position: absolute;
  right: 20px;
  top: 16px;
  background-color: transparent;
  border: none;
  width: 17px;
  height: 18px;
}
.header-list__link {
  color: #12212D;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.header-list__triangle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6px;
}
.header-list__item {
  position: relative;
}
.header-list__item:first-child {
  padding-right: 41px;
}
.header-list__item:first-child::after {
  position: absolute;
  top: -9px;
  right: 21px;
  content: "";
  width: 1px;
  height: 40px;
  background-color: #B7BCC0;
}

.footer {
  background-color: #C02336;
  padding-top: 30px;
  padding-bottom: 23px;
}
.footer .wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer__text {
  max-width: 230px;
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
.footer__title {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer-list__link {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.footer__discont {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer__p {
  font-size: 14px;
  line-height: 22px;
  color: #E3E3E3;
  max-width: 310px;
  margin-bottom: 10px;
  margin-top: 12px;
  font-weight: 400;
}
.footer-form__input {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 6px;
  outline: none;
  color: #FFFFFF;
}
.footer-form__input::-webkit-input-placeholder {
  color: #E8E8E8;
}
.footer-form__input::-moz-placeholder {
  color: #E8E8E8;
}
.footer-form__input:-ms-input-placeholder {
  color: #E8E8E8;
}
.footer-form__input::-ms-input-placeholder {
  color: #E8E8E8;
}
.footer-form__input::placeholder {
  color: #E8E8E8;
}
.footer-form__btn {
  background-color: transparent;
  color: #FFFFFF;
  padding: 10px 23px;
  border-radius: 3px;
  margin-left: 26px;
  border: 1px solid #FFF;
}

.main {
  background-color: #F9F9F9;
}
.main .wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.main .breadcrumbs {
  margin-bottom: 20px;
}
.main .breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: aqua;
  padding: 26px 0 26px 50px;
}
.main .breadcrumbs-list__item--dot {
  margin-right: 8px;
  position: relative;
}
.main .breadcrumbs-list__item--dot::after {
  position: absolute;
  width: 2px;
  height: 2px;
  content: "";
  border-radius: 100%;
  background-color: #12212D;
  top: 11px;
  right: -6px;
}
.main .breadcrumbs-list__link {
  color: #12212D;
  font-size: 13px;
  line-height: 18px;
}
.main .breadcrumbs-list__link--light {
  color: rgba(18, 33, 45, 0.6980392157);
}
.main__title {
  color: #705658;
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;
  margin-bottom: 41px;
}
.main .purchase {
  margin-bottom: 51px;
}
.main .purchase .col--little {
  margin-right: 60px;
  max-width: 40%;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}
.main .purchase .col--big {
  max-width: 60%;
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
}
.main .purchase-header__img {
  padding: 21px 55px 20px 55px;
  position: relative;
  background-color: aqua;
  margin-bottom: 10px;
}
.main .purchase-header__img::after {
  position: absolute;
  content: "Новинка";
  background-color: #75D67E;
  color: #FFFFFF;
  display: block;
  padding: 3px 13px 3px 11px;
  top: 21px;
  right: 26px;
  font-size: 14px;
  line-height: 19px;
}
.main .purchase-header__images {
  background-color: aqua;
  padding: 14px 6px 13px 6px;
}
.main .purchase-header__btn {
  background-color: transparent;
  border: 1px solid #B7BCC0;
  border-radius: 2px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 49px 18px 50px 20px;
}
.main .purchase-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #B7BCC0;
  padding: 26px 30px 32px 0;
}
.main .purchase-buy__h3 {
  color: rgba(18, 33, 45, 0.6980392157);
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  margin-right: 20px;
}
.main .purchase-buy__price {
  color: #12212D;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  margin-right: 48px;
}
.main .purchase-buy__btn {
  padding: 13px 61px 13px 62px;
  background-color: #DB404B;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  margin-left: 46px;
}
.main .purchase-buy__text {
  color: #D57B1C;
  font-size: 14px;
  line-height: 19px;
  margin-left: 37px;
}
.main .purchase-amount__btn--minus {
  padding: 6px 12px 5px 13px;
  border: 1px solid #B7BCC0;
  background-color: transparent;
  border-radius: 2px;
  margin-right: 12px;
}
.main .purchase-amount__btn--plus {
  padding: 6px 10px 5px 10px;
  border: 1px solid #B7BCC0;
  background-color: transparent;
  border-radius: 2px;
}
.main .purchase-amount__count {
  width: 20px;
  height: 25px;
  border: none;
  outline: none;
}
.main .purchase-amount__count::-webkit-outer-spin-button, .main .purchase-amount__count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .purchase-amount__text {
  color: #12212D;
  font-size: 14px;
  line-height: 19px;
  margin-right: 12px;
}
.main .purchase-description {
  margin-top: 28px;
  padding-bottom: 45px;
}
.main .purchase-description__cat {
  color: #12212D;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
.main .purchase-description__cat--apt {
  margin-top: 28px;
  margin-bottom: 10px;
}
.main .purchase-description__text {
  color: #12212D;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  width: 690px;
}
.main .purchase-description__p {
  margin-top: 28px;
}
.main .purchase-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .purchase-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .description {
  margin-top: 20px;
}
.main .description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: aqua;
}
.main .description-list__item:first-child {
  margin-right: 35px;
  padding-left: 30px;
}
.main .description-list__item--active {
  position: relative;
}
.main .description-list__item--active::after {
  position: absolute;
  content: "";
  background-color: #D93C47;
  height: 4px;
  width: 100%;
  bottom: -16px;
  right: 0;
}
.main .description-list__item {
  color: rgba(18, 33, 45, 0.6980392157);
  font-weight: 500;
  line-height: 19px;
  font-size: 14px;
  padding: 21px 30px 20px 30px;
  background-color: #FFFFFF;
  border: none;
}
.main .description-about {
  background-color: aqua;
  margin: 20px 0 167px 0;
  padding: 40px 224px 75px 50px;
}
.main .description-about__title {
  color: #12212D;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  margin-bottom: 10px;
}
.main .description-about__text {
  margin-bottom: 35px;
  color: #12212D;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.main .description-about span {
  color: #12212D;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.main .comments {
  margin: 20px 0 90px 0;
  padding: 30px 100px 40px 50px;
  display: none;
  background-color: aqua;
}
.main .comments .comment {
  padding-left: 50px;
}
.main .comments .comment-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .comments .comment-first__name {
  color: #12212D;
  font-size: 14px;
  line-height: 19px;
  margin-right: 10px;
}
.main .comments .comment__text {
  color: #12212D;
  font-size: 14px;
  line-height: 24px;
  width: 555px;
  margin-top: 15px;
  border-bottom: 1px solid #B7BCC0;
  margin-bottom: 31px;
  padding-bottom: 30px;
}
.main .comments .comment__more {
  padding: 13px 210px 13px 210px;
  background-color: transparent;
  border: 1px solid #B7BCC0;
  border-radius: 2px;
  color: #12212D;
  font-size: 14px;
  line-height: 24px;
}
.main .comments .comment__items {
  max-height: 312px;
  overflow-y: scroll;
}
.main .comments .comment__items::-webkit-scrollbar {
  width: 16px;
}
.main .comments .comment__items::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #F9F9F9;
  border: 1px solid #cacaca;
}
.main .comments .comment__items::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #d55959;
}
.main .comments .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #B7BCC0;
  border-radius: 2px;
  padding: 40px 30px 20px 30px;
}
.main .comments .review__info {
  color: #12212D;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
}
.main .comments .review__input {
  width: 362px;
  height: 50px;
  border: 1px solid #B7BCC0;
  border-radius: 3px;
  margin-bottom: 15px;
  outline: none;
  padding-left: 3px;
}
.main .comments .review__input--error {
  border: 1px dashed red;
}
.main .comments .review__btn {
  background-color: #DB404B;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 19px;
  padding: 18px 89px 17px 89px;
  width: 70%;
}
.main .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  right: 0;
  top: 0;
}
.main .modal::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(149, 149, 149, 0.5);
  position: absolute;
  z-index: -1;
  opacity: 1;
  left: 0;
  top: 0;
}
.main .modal--active {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}
.main .modal-wrapper {
  width: 521px;
  height: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2px;
  background-color: #FFF;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main .modal__title {
  color: #705658;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  margin-bottom: 25px;
}
.main .basket .cart-background_color {
  padding: 30px 30px 40px;
}
.main .basket .cart-table {
  width: 1240px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
.main .basket .cart-table__head {
  background-color: #FCECED;
  text-align: left;
}
.main .basket .cart-table__body .list {
  position: relative;
}
.main .basket .cart-table__body .list::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #B7BCC0;
  bottom: 0;
  left: 0;
}
.main .basket .cart-table__list .list__title {
  color: rgba(18, 33, 45, 0.6980392157);
  font-size: 12px;
  line-height: 16px;
  padding: 16px 0 18px 0;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.main .basket .cart-table__list .list__title--left {
  width: 130px;
  padding-left: 39px;
}
.main .basket .cart-table__list .list__title--second {
  width: 313px;
}
.main .basket .cart-table__list .list__title--third {
  width: 257px;
}
.main .basket .cart-table__list .list__title--fourth {
  width: 225px;
}
.main .basket .cart-table__list .list__title--right {
  padding-right: 275px;
}
.main .basket .cart-table__list .list__img {
  padding: 20px 28px 20px 15px;
}
.main .basket .cart-table__list .list__img--small {
  padding: 26px 28px 23px 23px;
}
.main .basket .cart-table__list .list__text {
  color: #12212D;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
.main .basket .cart-table__list .list__price {
  color: #12212D;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}
.main .basket .cart-table__list .list__sum {
  color: #12212D;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
.main .basket .cart-order {
  margin-top: 40px;
}
.main .basket .cart-order .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.main .basket .cart-order__text {
  color: rgba(18, 33, 45, 0.6980392157);
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
.main .basket .cart-order__discount {
  color: #12212D;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 24px 95px;
  padding-right: 20px;
}
.main .basket .cart-order__total {
  color: #D93C47;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 36px 10px;
  padding-right: 20px;
}
.main .basket .cart-order__litetext {
  color: #12212D;
  font-size: 14px;
  line-height: 42px;
  mix-blend-mode: normal;
  opacity: 0.4;
}
.main .basket .cart-order__btn {
  color: #FFFFFF;
  background: linear-gradient(212.42deg, #E75B65 -88.04%, #D12C37 130.2%);
  border: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 19px;
  padding: 16px 45px 15px 45px;
  margin-left: 19px;
}

.home-header {
  margin-top: 30px;
}
.home-header .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-sidebar {
  background-color: aqua;
  padding: 32px 0 141px 0;
  margin-right: 30px;
}
.home-sidebar__title {
  margin-bottom: 10px;
  color: #705658;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  padding-left: 30px;
}
.home-sidebar__list {
  color: #12212D;
  font-size: 14px;
  line-height: 42px;
}
.home-sidebar__list .list__item {
  width: 300px;
}
.home-sidebar__list .list__item--active {
  position: relative;
}
.home-sidebar__list .list__item--active::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 42px;
  background-color: #D93C47;
  left: 0;
}
.home-sidebar__list .list__link {
  display: inline-block;
  padding-left: 30px;
  width: calc(100% - 30px);
  color: #12212D;
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
  /* 300% */
}
.home-sidebar__list .list__link:hover {
  background-color: #FCECED;
}
.home-simproducts {
  margin-top: 80px;
}
.home-simproducts__title {
  color: #705658;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  padding-bottom: 50px;
}
.home .simproducts-btns {
  margin-top: 41px;
  border-top: 1px solid #B7BCC0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .simproducts-btns__btn {
  border: 1px solid #B7BCC0;
  padding: 27px 22px 26px 24px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .simproducts-btns__btn--right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.home-more {
  margin-top: 71px;
}
.home-column {
  background-color: #E8E8E8;
  padding: 31px 17px 0 31px;
}
.home-column--left {
  margin-right: 30px;
}
.home-column__title {
  padding-right: 185px;
  max-width: 400px;
  color: #705658;
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;
}
.home-column__price {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: -1.1px;
  margin: 19px 0 20px 0;
}
.home-column__btn {
  margin-right: 121px;
  color: #FFFFFF;
  background-color: #DB404B;
  border-radius: 3px;
  padding: 16px 61px 15px 62px;
  border: none;
}
.home-footer {
  padding-bottom: 60px;
  margin-top: 60px;
}
.home-footer__title {
  color: #705658;
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;
  margin-bottom: 20px;
}
.home-footer__text {
  color: rgba(18, 33, 45, 0.6980392157);
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  max-width: 1230px;
}
.home .simproducts-btns--similar {
  padding-bottom: 48px;
}

.checkout .basket .cart-background_color {
  padding: 30px 30px 0 30px;
}
.checkout .basket .cart-table {
  width: 908px;
}
.checkout .basket .cart-table__list .list__title {
  color: rgba(18, 33, 45, 0.6980392157);
  font-size: 12px;
  line-height: 16px;
  padding: 16px 0 18px 0;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.checkout .basket .cart-table__list .list__title--left {
  width: 91px;
  padding-left: 39px;
}
.checkout .basket .cart-table__list .list__title--second {
  width: 313px;
}
.checkout .basket .cart-table__list .list__title--third {
  width: 234px;
}
.checkout .basket .cart-table__list .list__title--right {
  padding-right: 173px;
}
.checkout .formInp {
  font-size: 14px;
  line-height: 18px;
  color: rgba(18, 33, 45, 0.6980392157);
  border: 1px solid #B7BCC0;
  background-color: #FFFFFF;
  padding-left: 10px;
  outline: none;
  border-radius: 3px;
  height: 39px;
  width: 213px;
}
.checkout .formInp--name {
  width: 242px;
}
.checkout .formInp--phone {
  width: 242px;
}
.checkout .formInp--email {
  width: 242px;
  font-weight: 19px;
}
.checkout .formInp--number {
  margin-top: 10px;
}
.checkout .formInp--text {
  margin-top: 10px;
}
.checkout .formInp--error {
  border: 1px dashed red;
}
.checkout .yourdata {
  padding: 0 50px 0 20px;
}
.checkout .yourdata-form {
  padding: 30px 30px 40px 30px;
  background-color: aqua;
  display: inline-block;
}
.checkout .yourdata-form__title {
  color: #705658;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
.checkout .yourdata-form__titles {
  color: rgba(18, 33, 45, 0.6980392157);
  font-size: 14px;
  line-height: 18px;
  margin: 20px 0 10px 0;
}
.checkout .form-group {
  padding-right: 332px;
}
.checkout .coupon-form {
  padding: 30px 713px 30px 30px;
  background-color: aqua;
  display: inline-block;
  margin-top: 30px;
}
.checkout .coupon-form__title {
  color: #705658;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
.checkout .delivery-form {
  padding: 30px 463px 30px 30px;
  background-color: aqua;
  display: inline-block;
  margin-top: 30px;
}
.checkout .delivery-form__title {
  color: #705658;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
}
.checkout .delivery-form .col {
  display: inline-block;
}
.checkout .delivery-form .col--left {
  margin-right: 20px;
}
.checkout .delivery-form__titles {
  color: rgba(18, 33, 45, 0.6980392157);
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
}
.checkout .payment-form {
  padding: 30px 241px 30px 30px;
  background-color: aqua;
  display: inline-block;
  margin: 30px 0 20px 0;
}
.checkout .payment-form__title {
  color: #705658;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}
.checkout .payment-form__btn {
  color: #12212D;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  padding: 15px 60px 16px 60px;
  border-radius: 2px;
  outline: none;
  border: none;
  float: left;
  background: #FBECED;
  margin-top: 20px;
}
.checkout .payment-form__btn--active {
  background: linear-gradient(212deg, #E75B65 0%, #D12C37 100%);
  color: #FFF;
}
.checkout .topay-form {
  padding: 30px;
  margin-bottom: 20px;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 907px;
}
.checkout .topay-form__title {
  font-size: 14px;
  color: rgba(18, 33, 45, 0.7);
  font-weight: 500;
  line-height: normal;
}
.checkout .topay-form__sum {
  color: #D93C47;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 110% */
  letter-spacing: -0.143px;
}
.checkout .paycomment {
  background-color: aqua;
  padding: 30px 150px 30px 30px;
}
.checkout .paycomment .paycomment__title {
  color: #D93C47;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
.checkout .paycomment .paycomment__text {
  width: 750px;
  height: 100px;
  border-radius: 3px;
  border: 1px solid #B7BCC0;
  color: rgba(18, 33, 45, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 20px 0;
  resize: none;
  outline: none;
  padding: 20px;
}
.checkout .checkBasketBtns {
  width: 968px;
  padding-bottom: 60px;
}
.checkout .checkBasketBtns .order {
  padding: 0 332px 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  background-color: aqua;
  padding: 20px 20px 11px 20px;
}
.card__description {
  color: #4DA455;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
.card__description--red {
  color: #D0021B;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}
.card-header {
  margin: 10px 0 20px 0;
  width: 263px;
  height: 152px;
}
.card-body {
  color: rgba(18, 33, 45, 0.6980392157);
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-footer__h4 {
  color: rgba(18, 33, 45, 0.6980392157);
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  margin-right: 8px;
}
.card-footer__price {
  color: #705658;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}
.card-footer__btn {
  color: #DC434E;
  background-color: transparent;
  border: 1px solid #DC434E;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  margin-left: 89px;
}
.card--first {
  padding-left: 20px;
}
.card--last {
  padding-right: 20px;
}